.carouselItem {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.carousel {
  padding: 2rem 0;
  margin-top: 2rem;
  overflow: hidden;
}

.inner {
  white-space: nowrap;
  transition: transform 0.3s;
}

.indicators {
  font-size: 30px;
  display: flex;
  padding: 1rem 0;
  justify-content: space-between;
  position: relative;
  top: -200px;
}
.indicatorsExternal {
  font-size: 30px;
  display: flex;
  padding: 1rem 0;
  justify-content: space-between;
  position: relative;
  top: -200px;
}
.indicatorsExternal > button {
  margin: 5px;
  width: 50px;
  background-color: white;
  height: 60px;
  border: none;
  font-size: 18px;
}

.indicators > button {
  margin: 5px;
  width: 60px;
  background-color: rgb(88, 99, 248);
  height: 60px;
  border: none;
  font-size: 18px;
}

.indicators > button.active {
  color: #ed2639;
}
